/node_modules
/public/hot
/public/anexos
/public/storage
/storage/*.key
/vendor
/toUp
.env
.dest
stock_armazem_central.zip
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
dest.zip
